@mixin image-size($width, $height, $fit: fill) {
  width: $width;
  height: $height;
  object-fit: $fit;
}

@mixin text-style($font-size: 100%, $color: black) {
  font-size: $font-size;
  color: $color;
}

@mixin rounded-border($size: 5px, $color: lightgray, $radius: 50px) {
  border: $size solid $color;
  border-radius: $radius;
}

$title-font-color: white;


body{
    background-color: white;
}

.header{
    margin-top: 25px;
    margin-bottom: 50px;
}

.main-content{
    margin-top: 25px;
    margin-bottom: 50px;
}

.footer-top{
    margin-top: 25px;
    margin-bottom: 50px;
}

.footer-main{
    margin-top: 25px;
    margin-bottom: 50px;
}