@use "components/scss/general" as *;

.people-shape {
  @include image-size(170px, 5px);
  margin-top: -10px;
  margin-left: 129px;
}

.people-img {
  @include image-size(68%, auto, cover);
  margin-bottom: -140px;
  margin-left: 71px;
  border-radius: 19px;
}

.people-img-shape {
  @include image-size(68%, 116px);
  margin-top: -158px;
  margin-left: 71px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  opacity: 0.73;
}

.people-title-main {
  @include text-style(385%, white);
  margin-bottom: -14px;
  text-align: center;
}

.people-title-secondary {
  @include text-style(150%, white);
  margin-top: 30px;
  margin-bottom: -14px;
  text-align: center;
}

.people-title-third {
  @include text-style(110%, white);
  text-align: center;
}
