<div class="col-4">
  <h2 class="montserrat-black">EDUCATION</h2>
  <div class="row-12">
    <h3 class="lato-black">Master Of Creativears</h3>
    <h4 class="lato-bold">Copny Name</h4>
    <p class="lato-regular">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    </p>
    <h4 class="lato-bold">2018 - PRESENT</h4>
  </div>
  <div class="row-12">
    <h3 class="lato-black">Master Graphic & Web Designer</h3>
    <h4 class="lato-bold">Copny Name</h4>
    <p class="lato-regular">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    </p>
    <h4 class="lato-bold">2015 - 2017</h4>
  </div>
  <div class="row-12">
    <h3 class="lato-black">Marketing Manager</h3>
    <h4 class="lato-bold">Copny Name</h4>
    <p class="lato-regular">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolovz magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
    </p>
    <h4 class="lato-bold">2010 - 2012</h4>
  </div>
</div>
