<div class="col-4">
  <h2 class="montserrat-black hobbies-title-main">HOBBIES</h2>
  <img class="hobbies-shape" src="/svg/shape_1.svg" alt="shape" />
  <div class="row-12">
    
    <h3 class="lato-bold hobbies-title-secondary underlined">WRITING</h3>
    <h3 class="lato-bold hobbies-title-secondary underlined">READING BOOKS</h3>
    <h3 class="lato-bold hobbies-title-secondary underlined">PLAYING FOOTBALL</h3>
    <h3 class="lato-bold hobbies-title-secondary underlined">PHOTOGRAPHY</h3>
    <h3 class="lato-bold hobbies-title-secondary underlined">TRAVELING</h3>
  </div>
</div>
