<div class="row-12">
  <img src="" alt="" />
  <h2 class="montserrat-black">REFERENCES</h2>
  <div class="row-12">
    <div class="row-12">
      <h3 class="lato-black">MICHAEL R, MAGEE</h3>
      <p class="lato-regular">4418 BOBCAT DRIVE SOUTHFIELD, MI 48034</p>
    </div>
    <div class="row-12">
      <h3 class="lato-black">TRAVIS M. GODINEZ</h3>
      <p class="lato-regular">2755 OAKMOUND DRIVE CHICAGO, IL 60605</p>
    </div>
    <div class="row-12">
      <h3 class="lato-black">GILBERT L. CROSS</h3>
      <p class="lato-regular">1706 PRETTY VIEW L ANE SAN FRANCISCO</p>
    </div>
  </div>
</div>
